.body {
    background-image: url("../img/background01.jpg");
    width: 100%;
    height: 140%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.form {
    margin-top: 40px;
    padding: 30px;
    border-radius: 20px;
    width: 550px;
    height: 550px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


.titleAndInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.titleAndText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.title {
    color: #C21010;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    font-style: italic;
    margin-top: 0px;
}

.subTitle {
    color: #C21010;;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    padding: 0px;
    margin: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.button {
    width: 120px;
    background-color: #C21010;
    border: none;
    border-radius: 5px;
    height: 25px;
    color: white;
    padding: 3px;
    cursor: pointer;
    margin: 3px

}
.button:hover {
    background-color: #efefef;
    border: 2px  #C21010 solid;
    color: #C21010;
}
.button:disabled {
    background-color: #E64848;
}

.input {
    height: 22px;
    border-radius: 5px;
    border: none;
    width: 190px;
    padding: 5px;
    margin:  5px;
    outline: none;
}

.textarea {
    border-radius: 10px;
    padding: 5px;
    margin:  5px;
    vertical-align: top;
    border: none;
    outline: none;
}

.buttonX {
    margin: 0px 5px 0px 5px;
    padding: 0px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: none;
    border: none;    
    color: #C21010;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    
}

.error {
    color: white;
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

.p {
    color: white;
    margin: 3px 10px 3px 10px;
    font-weight: 400;
    font-size: 20px;
}