.container {
    z-index: 3;
    padding: 53px 0px 10px 200px;
    border: 2px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #C21010;
    border: none;    
    color: white;
    padding: 1px;
    cursor: pointer;
}
.button:hover {
    background-color: white;
    border: 1px  #C21010 solid;
    color: #C21010;
}

.next {
    border: none;
    background: none;
    color: #C21010;
}
.next:hover {
    padding: none;
    margin: none;
    background-color: #C21010;
    color: white;
    border-radius: 7px;
}

.currentPage {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    border: none;
    background-color: white;
    border: 1px  #C21010 solid;
    color: #C21010;
}
