.container {
    border: 2px #C21010 solid;
    height: 510px;
    width: 310px;
    padding: 15px;
    row-gap: 10px;
}

.image {
    width: 300px; 
    height: 280px; 
}
  
.title {
    color: #C21010;
    align-items: center;
    text-Decoration: none;
    font-weight: 600;
    font-size: 25px;
    font-style: italic;
  
}

.subTitle {
    margin: 12px 0px 12px 0px;
    color: black;
    align-items: center;
    text-Decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.p {
    margin: 2px;
}
